@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* This is a fallback, tailwind config will override */
  font-family: 'PT Sans', sans-serif;
}

/* Prevent horizontal overflow on small screens */
html, body {
  overflow-x: hidden;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 225 20% 25%;

    --card: 0 0% 100%;
    --card-foreground: 225 20% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 225 20% 25%;

    --primary: 225 73% 57%; /* #4169E1 */
    --primary-foreground: 0 0% 100%;

    --secondary: 197 71% 90%;
    --secondary-foreground: 225 73% 57%;

    --muted: 0 0% 90%;
    --muted-foreground: 225 20% 45%;

    --accent: 197 71% 73%; /* #87CEEB */
    --accent-foreground: 225 73% 45%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 225 73% 57%;
    
    --radius: 0rem;
  }
  .dark {
    --background: 225 20% 10%;
    --foreground: 0 0% 94%;

    --card: 225 20% 15%;
    --card-foreground: 0 0% 94%;

    --popover: 225 20% 10%;
    --popover-foreground: 0 0% 94%;

    --primary: 225 73% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 20% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 225 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    
    --accent: 197 71% 73%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 225 20% 20%;
    --input: 225 20% 20%;
    --ring: 225 73% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
